body {
  background: #2f2e41;
  margin: 0px;
}

.page {
  width: 1090px;
  margin: 0 auto;
  padding-top: 65px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  font-family: "JetBrains Mono";
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

a:hover {
  color: #00bfa6;
}

ul {
  list-style: none;
  display: flex;
  gap: 65px;
  margin: 0;
  padding: 0;
}

main {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 77px;
}

h1 {
  font-family: "JetBrains Mono";
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
}

main span {
  color: #00bfa6;
}

main p {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #c2c2c2;
}

p strong {
  color: #00bfa6;
}

p span {
  color: #c2c2c2;
  font-weight: bold;
}

footer {
  width: 570px;
  margin: 160px auto 25px;
  text-align: center;
  border-top: 1px solid #00bfa6;
}

footer p {
  font-family: "JetBrains Mono";
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}

#padlock {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
